SERVICE_NAME=careerhub-gateway
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug
LOG_PRETTY=true
HTTP_LOG_ENABLED=true

# IAM gRPC server address that gateway will call.
GRPC_IAM_URL=127.0.0.1:50051
GRPC_CANDIDATE_URL=127.0.0.1:50052
GRPC_EMPLOYER_URL=127.0.0.1:50053

# Refresh token cookie configuration.
AUTH_REFRESH_COOKIE_NAME=refresh_token
AUTH_REFRESH_COOKIE_SECURE=false
AUTH_REFRESH_COOKIE_DOMAIN=
JWT_REFRESH_EXPIRES_IN=7d
