CREATE TABLE "recruitment_mail_deliveries" (
    "id" VARCHAR(64) NOT NULL,
    "source_event_id" VARCHAR(64) NOT NULL,
    "event_name" VARCHAR(128) NOT NULL,
    "recipient_identity_id" VARCHAR(64) NOT NULL,
    "status" VARCHAR(32) NOT NULL,
    "claimed_at" TIMESTAMP(3),
    "sent_at" TIMESTAMP(3),
    "failed_at" TIMESTAMP(3),
    "last_error" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "recruitment_mail_deliveries_pkey" PRIMARY KEY ("id")
);

CREATE UNIQUE INDEX "recruitment_mail_deliveries_source_event_id_key" ON "recruitment_mail_deliveries"("source_event_id");

CREATE INDEX "recruitment_mail_deliveries_status_claimed_at_idx" ON "recruitment_mail_deliveries"("status", "claimed_at");
